body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 16px;
	line-height: 1.2;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--color-accent: #FFBD12;
	--color-woodsmoke: #18191F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.hide {
	display: none;
}

.main {
	position: relative;
}

/* Button */
.btn {
	padding: 0;
	margin: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;


	border-radius: 16px;
	display: inline-block;
	vertical-align: top;
	padding: 16px 24px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid var(--color-woodsmoke);
	box-shadow: 0px 2px 0px var(--color-woodsmoke);
}

.btn:active {
	box-shadow: 0px 0px 0px var(--color-woodsmoke);
	transform: box-shadow translateY(2px);
}

.btn-accent {
	border: 2px solid var(--color-woodsmoke);
	box-shadow: 0px 2px 0px var(--color-woodsmoke);
	background-color: var(--color-accent);
}

.btn-circle {
	padding: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}

.btn-circle::after {
	position: absolute;
	top: 15px;
	left: 13px;
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	border-left: 3px solid var(--color-woodsmoke);
	border-bottom: 3px solid var(--color-woodsmoke);
	transform: rotate(225deg);
}

.btn-list {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: -1;
}



/* Page */
.page {
	overflow: hidden;
}


/* Container */
.container {
	width: 100%;
	max-width: 375px;
	padding: 0 24px;
	margin: 0 auto;
	position: relative;
}

.app {
	padding-top: 130px;
	display: flex;
	justify-content: center;
}

.header {
	padding-top: 105px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 15;
	background-color: #fff;
	box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.header__wrap {
	width: 100%;
}

.header__form {
	width: 100%;
	max-width: 327px;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__input {
	height: 56px;
	width: 100%;
	padding: 16px 40px 16px 24px;
	border: 2px solid var(--color-woodsmoke);
	box-shadow: 0px 2px 0px var(--color-woodsmoke);
	border-radius: 16px;
	position: relative;

}

.header__input:focus {
	outline: 0;
	outline-offset: 0;
	border: 2px solid #4CAF50;
	box-shadow: 0px 2px 0px #4CAF50;
}

.header__input::placeholder {
	font-size: 21px;
}

.header__inner {
	position: relative;

}

.search-icon {
	position: absolute;
	top: 16px;
	right: 24px;
	z-index: 1;
}

.list__item {
	padding: 42px 0;
	border: 2px solid #18191F;
	border-radius: 16px;
	margin-bottom: 24px;
	cursor: pointer;
	position: relative;
}

.list__item-name {
	font-size: 21px;
	font-weight: 700;
	position: absolute;
	top: 28px;
	left: 16px;
	z-index: -1;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
	background-color: red;
}

.footer__wrap {
	position: relative;
}

.footer-btn {
	position: absolute;
	top: -60px;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.btn-plus {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
}

.btn-plus:before,
.btn-plus:after {
    content: "";
    position: absolute;
    top: 26px;
    left: 15px;
    width: 26px;
    height: 4px;
		border-radius: 3px;
    background: var(--color-woodsmoke);
}

.btn-plus:before {
	transform: rotate(90deg);
}

.btn-plus:after {
	transform: rotate(-180deg);
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 20; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
  background-color: #fff;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 70px 24px 32px;
  border-radius: 16px;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

.modal-content__btn {
	position: absolute;
	top: 16px;
	right: 16px;
}

/* Кнопка закрытия */
.close {
  position: absolute;
	top: 0;
	right: 0;
	
}

.btn-close {
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
}

.btn-close:before,
.btn-close:after {
    content: "";
    position: absolute;
    top: 17px;
    left: 8px;
    width: 21px;
    height: 3px;
		border-radius: 3px;
    background: var(--color-woodsmoke);
}

.btn-close:before {
	transform: rotate(45deg);
}

.btn-close:after {
	transform: rotate(-45deg);
}

.modal__inner {
	margin-bottom: 32px;
}

.modal__input {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #C8C5D1;
}

.modal__input::placeholder {
	color: #C8C5D1;
}

.modal__input:focus {
	outline: 0;
	outline-offset: 0;
	border-bottom: 2px solid #4CAF50;
}

.modal__btn {
	display: flex;
	justify-content: space-between;
}

.btn-modal {
	font-size: 16px;
	padding: 14px 18px;
}